.ui-dialog-titlebar, .ui-widget-header, .ui-helper-clearfix, .ui-corner-top{ background: #bd1920 !important;text-shadow:none !important;color:white;}

.login-formcontrol{ width: 100% !important; box-shadow:none !important; border-radius:3px !important;}